<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <style>
    footer {
      position: fixed;
      bottom:0;
      left:0;
      right: 0;
    } -->
  </style>
  <script src="./app.js"></script>

  <!-- pwa -->
  <link rel="manifest" href="./manifest.json">
  <link rel="apple-touch-icon" href="core/images/system-images/icons/apple-icon-120.png">
  <meta name="apple-mobile-web-app-status-bar" content="#FFE1C4">
  <meta name="theme-color" content="#FFE1C4">
  <style>
  
    #enable-banner-install{
      display: none;
      margin: 5px;
    }
    
  </style>
  <title>LMarket</title>

  <%-include('include/top-links.ejs')%>

</head>

<body onload="ShopingCart.verify(); installButton();">
  <div class="container-fluid">
    <!-- Navigation -->
    <%-include('include/nav-bar.ejs')%>
    <br>
    <div class="card">

      <div class="card-head">
        <%include('include/logo.ejs')%>
      </div>

      <div class="card-body">
        
        <button class="btn btn-info" id="enable-banner-install">
          Instalar
        </button>

        <br>

        <div class="container">

          <h1 class="container text-center c3">Precisa de Ajuda?</h1>
          <hr>
          <div class="row">
            
            <div class="col-sm-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link card text-center c2" href="#"
                  onclick="Manual.getContent(1);">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link card text-center c2" href="#"
                  onclick="Manual.getContent(2);">Como Instalar?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link card text-center c2" href="#"
                  onclick="Manual.getContent(3);">Como criar uma conta?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link card text-center c2" href="#"
                  onclick="Manual.getContent(4);">Como realizar uma compra?</a>
                </li>
                               
              </ul>
            </div>
            <hr>
            <!-- content -->
            <div class="col-sm-9 c3" style="display: block" id="1">
              <h2 class="text-center">Home</h2>
              <div class="content text-left">
                <p>
                  Olá! Aqui você poderá tirar qualquer dúvida sobre como usar nosso App.
                </p>
                <p>
                  Esse sistema pode ser acessado via navegador ou ainda ser instalado em um computador <strong>Windows</strong>, 
                  <strong>Linux</strong> ou <strong>Mac</strong>. Você também pode instalar no Android ou IOS de forma 
                  muito amigável. 
                </p>
                <strong>OBS:</strong>
                <p>
                  1 - Para instalar no <strong>Windows</strong>, <strong>Linux</strong> ou <strong>Mac</strong>, você precisa usar o navegador <i>Chrome</i>.
                </p>
                <p>
                  2 - Para instalar no <strong>Android</strong> use o navegador <i>Chrome</i>. No <strong>IOS</strong> você pode usar o <i>Chrome</i> ou o Opera.
                </p>
              </div>
            </div>
            <div class="col-sm-9 c3" style="display: none" id="2">
              <h2 class="text-center">Como instalar?</h2>
              <p>
                Para instalar o App no seu PC, NoteBook (<strong>Windows</strong> e <strong>Linux</strong>) ou Mac, acesse o site usando o navegador <i>Chrome</i>. 
                Na parte superior esquerda da tela você poderá observar um botão "Instalar". Click nesse 
                botão e espere alguns segundos. Em poucos instantes você verá o ícone do App na sua área 
                de trabalho.
              </p>
              <p>
                No <strong>Android</strong>, acesse o site usando o navegador <i>Chrome</i>. Click no botão instalar que aparecerá 
                na parte superior do site. Em alguns instantes você verá o ícone do App no menu de aplicativos 
                do Android. Para instalar no <strong>IOS</strong>, o procedimento é o mesmo. Mas você pode usar o navegador 
                <i>Opera</i> também 
              </p>
              
              <div class="text-center d-none d-md-block">
                <i>Botão instalar no PC, Notebook ou Mac</i>
                <img src="core/images/system-images/install-button-pc.png" style="width: 100%; height: auto;">
              </div>  
              
              <div class="text-center d-md-none">
                <i>Botão instalar no Android ou IOS</i>
                <img src="core/images/system-images/install-button-sp.png" style="width: 100%; height: auto;">
              </div>

            </div>
            <div class="col-sm-9 c3" style="display: none" id="3">
              <h2>Como criar uma conta?</h2>
              <div class="content text-left">
                <p>
                  Para criar uma conta click ícone de login <i class="fas fa-user"></i> 
                  na parte superior da tela. Você será direcionado para a tela de 
                  cadastro onde você poderá fazer login ou criar uma conta. 
                </p> 

                <div class="text-center d-md-none">
                  <i>Tela de Login</i>
                  <img src="core/images/system-images/login-screen-sp.png" 
                    style="width: 100%; height: auto;">
                </div> 

                <div class="text-center d-none d-md-block">
                  <i>Tela de Login</i>
                  <img src="core/images/system-images/login-screen-pc.png" 
                    style="width: 100%; height: auto;">
                </div>

              </div>

            </div>
            <div class="col-sm-9 c3" style="display: none" id="4">
              <h2>Como realizar uma compra?</h2>
              <div class="content text-left">
                <p>
                  Para realizar uma compra click botão "Adicionar ao Carrinho" que fica logo abaixo 
                  de cada produto. Para acesser o carrinho click no ícone carrinho de compras <i class="fas fa-shopping-cart"></i> 
                  localizado na parte superior da tela. Você será direcionado para o carrinho de compras 
                  onde poderá alterar quantidades de produtos ou deletar os mesmos. 
                </p> 

                <p>
                  <strong>OBS:</strong> Para realizar a compra, você precisa estar logado 
                  no App.
                </p>

                <div class="text-center d-md-none">
                  <i>Carrinho de compras</i>
                  <img src="core/images/system-images/shopping-cart-sp.png" 
                    style="width: 100%; height: auto;">
                </div> 

                <div class="text-center d-none d-md-block">
                  <i>Carrinho de compras</i>
                  <img src="core/images/system-images/shopping-cart-pc.png" 
                    style="width: 100%; height: auto;">
                </div>

              </div>
            </div>

          </div>
          
        </div>

      </div>

      <div class="card-footer text-center">
        
        w3software.br@gmail.com

      </div>

    </div>

    <%-include('include/bottom-links.ejs')%>

    <a href="/user-whatsapp-message"" title="Fale Conosco" class="wa-logo">
      <img src="admin/images/whatsapp.png" alt="offline" width="50px">
    </a>
        
  </div>

  <br>

  <%-include('include/footer.ejs')%>

  <script src="core/core.js"></script>

</body>

</html>
