<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LMarket</title>

  <script>
    function noComeBackButton() { 

      window.onbeforeunload = function() {
        function setNoBackButton() {
          window.location.hash="no-back-button";
          window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
          window.onhashchange=function(){window.location.hash="no-back-button";};
          console.log("call setNoBackButton is true");  
        }
      }

    }
  </script>

  <%-include('include/top-links.ejs')%>

</head>

<body onload="ShopingCart.verify();">
  <div class="container-fluid">

    <!-- Navigation -->
    <%-include('include/nav-bar.ejs')%>

    <br>
    <div class="card">
      
      <div class="card-head">
        <h2 class="title">Finalizar Pedido</h2>
      </div>

      <div class="card-body">
        
        <div class="container">

          <div class="card c3">

            <div class="card-body" id="variableContent">

              <form class="form" action="/send-client-infos" 
                method="post" id="getClientInfoForm">
                <!-- name -->
                <div class="row">
                  <div class="col-sm-3">
                    <label for="clientName" class="form-control text-center c2">Nome</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="clientName" id="clientName">
                  </div>
                </div>
                <hr>
                <!-- phone -->
                <div class="row">
                  <div class="col-sm-3">
                    <label for="phone" class="form-control text-center c2">Telefone / Whatsapp</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="tel" class="form-control" name="phone" id="phone"
                      onkeyup="Helper.fixPhone(this.value);" required>
                  </div>
                </div>
                <hr>
                <hr>
                <!-- paymentMethod -->
                <div class="row">
                  <div class="col-sm-3">
                    <label for="paymentMethod" class="form-control text-center c2">Método de Pagamento</label>
                  </div>
                  <div class="col-sm-9">
                    <select id="paymentMethod" name="paymentMethod" 
                    class="form-control" 
                    onchange="Order.choosingPaymentMethod()" required>
                      <option value="creditCard">Cartão de crédito</option>
                      <option value="debitCard">Cartão de débito</option>
                      <option value="pix">Pix</option>
                      <option value="payedMarket">Mercado Pago</option>
                      <option value="money">Dinheiro</option>
                    </select>
                  </div>
                </div>
                <hr>
                <!-- containerIsItMoney -->
                <div class="row" id="containerIsItMoney">
                  
                </div>
                <hr>
                
                <div class="row">
                  <div class="col-sm-3">
                    <button type="button" class="add-cart-button form-control"
                      name="sendMessage" onclick="Order.orderLogin();"
                      id="isItLoged">
                      Logar-se
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="add-cart-button form-control"
                      name="sendMessage" onclick="return window.location.href='/register'">
                      Criar Minha Conta
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="add-cart-button form-control"
                      name="sendMessage" 
                      onclick="return window.location.href='/';">
                      Voltar 
                    </button>
                  </div>
                </div>
                
              </form>


            </div>

          </div>

        </div>

      </div>

    </div>

    <%-include('include/bottom-links.ejs')%>

  </div>

  <br>
  
  <%-include('include/footer.ejs')%>

  <script src="core/core.js"></script>
</body>

</html>
